body {
    background-color: #3c3c3c;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}