.close-button {
    position: absolute;
    top: 0;
    right: 3%;
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease, outline 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: 1px solid transparent;

    &:hover {
        background-color: #333;
        border: 1px solid #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    }

    &:active {
        background-color: #444;
        transform: scale(0.95);
    }
}

.template-button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:active {
        transform: scale(0.98);
    }

    &--green {
        background-color: #28a745;
        
        &:hover {
            background-color: #218838;
            box-shadow: 0 4px 8px rgba(40, 167, 69, 0.2);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 8px rgba(40, 167, 69, 0.6);
        }

        &:active {
            background-color: #1e7e34;
        }
    }

    &--blue {
        background-color: #007bff;

        &:hover {
            background-color: #0056b3;
            box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
        }

        &:active {
            background-color: #004085;
        }
    }

    &.outline-red {
        box-shadow: 0 0 10px 2px rgb(255, 62, 62);
        animation: jiggle-animation .3s linear;
    }
}

@keyframes jiggle-animation {
    25% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(-3px);
    }

    75% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(-3px);
    }
}

.template-text-input {
    min-width: 500px;
    padding: 0.7rem 0.5rem;
    outline: none;
    background-color: #161b21;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1rem;
}